.cuestionarioFrm.res{
    filter: blur(2px);
    transition: all .5s ease-in-out;
}

/*Resultados*/
.resultadosImpr{
    position: fixed;
    top:0vh ;
    background: var(--modal-res);
    height: 300px;
    width: auto;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    z-index: 999;
    transition: all .3s ease-in-out;
    opacity: 0;
}
.resultadosImpr.activarModal{
    top: 50vh;
    transform: translate(0, -50%);
    opacity: 1;
}
.resultadosImpr h3{
    color: #FFF; 
}
.resultadosImpr span{
    color: #FFF;
}
.anhoter{
    width: 120px;
    height: 30px;
    margin-top: 5px;
    position: relative;
    border-radius: 5px;
    border: none;
}
.anhoter span{
    position: absolute;
    color: #1c1c1c;
    width: 100%;
    top: 50%;
    left: 50%; transform: translate(-50%, -50%);
    z-index: 10;
}
/*-----------------*/
.seconContain{
    position: relative;
    width: 90%;
    height: auto;
   
    top: -100px; 
    transition: .5s ease-in-out;
}
.seconContain.antes{
    top: 200px;
    opacity: 0;
}
.conatinPreg {
    position: absolute;
    width: 100%;
    top: 200px;
    padding: 30px; 
    transition:all .3s;
    left: 50%;
    height: 1417px;
}

.pregTem1{
    z-index: 5;
    scale:1;
    top: 280px;
    left: 0;
   background:var(--bck-cards);
   filter:blur(0.5px);
    
}
.pregTem2{
    z-index: 4;
    scale: 0.98;
    top: 260px;
    left: 0;
    background:var(--bck-cards);
    filter:blur(0.5px);

}
.pregTem3{
    z-index: 3;
    scale: 0.96;
    top: 240px;
    left: 0;
    background:var(--bck-cards);
    filter:blur(0.5px);

}
.pregTem4{
    z-index: 2;
    scale: 0.94;
    top: 220px;
    left: 0;
background:var(--bck-cards);
filter:blur(0.5px);

}
.pregTem5{  
    z-index: 1; 
    scale: 0.92;
    top: 200px;
    left: 0;
   background:var(--bck-cards);
   filter:blur(0.5px);

}

/*Buttons preg*/

.btns-section{
    position: fixed;
    top: 70%;
    display: flex;
    justify-content: space-between;
    z-index: 10000;
    width: 98%;
    
}
.btns-section button div{
    position: absolute;
    background: #ffffff00;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 100;
}
.btns-section button{
    padding: 18px 50px;  
    position: relative;
    border: none;
    background: var(--bck-SA);
    border-radius: 3px;
    overflow: hidden; 
}
.siguien span{
    position: absolute;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
    z-index: 2;
    transition: .4s ease;
}
.siguien i{
    left: -20%; 
    top: 50%;
    transform: translate(-50%, -50%);   
    position: absolute;
    color: var(--color-basis);
    transition: .3s ease;
    z-index: 4;
}
.siguien:hover::after{
    width: 120px;
    height: 120px;
    transition: .4s ease;
}
.siguien::after{
    content: "";
    position: absolute;
    width: 0px;  
    height: 0px;
    background: var(--SA-hover);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) ;
    border-radius: 50%;
    z-index: 1;
}
.siguien:hover span{
    left:  35%;
}
.siguien:hover i{
    left:  90%;
}




.anter span{
    position: absolute;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
    z-index: 2;
    transition: .4s ease;
}
.anter i{
    right: -20%; 
    top: 50%;
    transform: translate(-50%, -50%);   
    position: absolute;
    color: var(--color-basis);
    transition: .3s ease;
    z-index: 4;
}
.anter:hover i{
    right: 75%;
}
.anter:hover span{ 
    left: 70%;
}
.anter:hover::after{
    width: 120px;
    height: 120px;
    transition: .4s ease;
}
.anter::after{
    content: "";
    position: absolute;
    width: 0px;  
    height: 0px;
    background: var(--SA-hover);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) ;
    border-radius: 50%;
    z-index: 1;
}
/*

.btns-section button:hover i{
    
}
.btns-section button:hover span{
   
}

.btns-section i{
    
}

.anter{
    background: #fff;
}

.btns-section button span{
    position: absolute;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
    z-index: 2;
    transition: .4s ease;
}
.btns-section button:hover::after{
    

}
.btns-section button::after{
    
}
*/
/*--------------------------*/
/*btnRes*/
.resultadoCuest{
    margin: 80px 0 80px 0;
    padding: 20px 80px; 
    background: var(--bck-SA);
    border: none;
    transition: .2s ease;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    filter: drop-shadow(0 10px 10px var(--Res-shadow));
    &:hover{
        filter: drop-shadow(0 0px 10px var(--Res-shadow));
    }
    &:hover::after{
        opacity: 1;
        left: 0;
    }
    &:hover .textBtn{
        color: #FFF;

    }
    
}

.resultadoCuest::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background:var(--bck-resul);
    top: 0;
    left: -100%;
    border-radius: 5px; 
    opacity: 0;
    transition: .4s ease;
}
.textBtn{
    z-index: 100;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    transition: .4s ease;
}


.mostrarRes{
    display: none;
}