


/*body*/
body{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

/*--------------------*/

.cuestionarioFrm{
    background: #1c1c1c;
    width:900px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin: 10px;
    position: relative;
    height: 1700px;
    z-index: 0;
}
.cuestionarioFrm .pregunta{
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 10px;
    width: 90%;
}


.timer{
    background: #fff;
    padding: 50px;
    color: #1c1c1c;
}