


/*body*/
body{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

/*--------------------*/

.cuestionarioFrm{
    background: var(--bck-frm);
    width:900px;
    display: flex;
    height: 2000px;
    flex-direction: column;
    align-items: center;
    padding: 10px 10px 2100px 10px; 
    margin: 10px;
    position: relative;
    height: 1700px;
    z-index: 0;
    border-radius: 10px;
    filter: drop-shadow(0px 10px 5px var(--shadow-form));
    transform: translateY(9%);
}
.cuestionarioFrm.responM{
    width: 90%; 
    height: 2600px;

}
.cuestionarioFrm.responM .conatinPreg {
    height: calc(1417px + 650px);
}

.cuestionarioFrm h1{
    font-size: 40px;
    transform: translateY(60px);

    text-align: center;
}
.cuestionarioFrm .pregunta{
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 10px;
    width: 90%;
}


.timer{
    background: var(--bck-timer);
    padding: 5px 25px;
    color: #1c1c1c;
    position: fixed;
    left: 10px;
    top: 10px; 
    border-radius: 3px;
    z-index: 1000;
    color: #fff;
}
