.frm-Login .typpp{
    display: block;
    white-space: nowrap;
    border-right: 4px solid var(--color-basis) ;
    width: 10ch;
    animation: typing 1s steps(12),   
    blink .5s step-end infinite alternate;
    overflow: hidden;
    font-size: 300%;
}
@keyframes typing {
    from{width: 0;}
}

@keyframes blink {
    50%{border-color: transparent;}
}

/*Login*/

.frm-Login{
    background: var(--bck-frm);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width:  530px;
    padding: 20px 20px 150px 20px;
    border-radius: 10px; 
    transition: all .3s .1s;
}

/*Login Movil*/
.frm-Login.movil{
    width: 80%;
}

.deletanimate.des{ 
    height: 0px;
    overflow: hidden;
    opacity: 0;
}

.deletanimate{      
    transition: .3s .1s;
    padding: 10px;
    height: 50px;
    width: 350px; 
}
.frm-Login .btnSubmit{
    background: var(--btn-frm);
    border: none;
    font-size: 15px;
    width: 80%;
}
.frm-Login .btnSubmit:hover{
    background: var(--btn-frm-hover);
    color: #FFF; 
}
.frm-Login input{
    color: rgb(0, 0, 0);
    background: rgb(255, 254, 254);
    border: 0.1px solid;     
    width: 90%;
}
